<!-- https://github.com/danialfarid/ng-file-upload -->
<!-- https://stackoverflow.com/questions/36280818/how-to-convert-file-to-base64-in-javascript -->
<!-- http://jsbin.com/piqiqecuxo/1/edit?js,console,output -->
<input type="file" #file (change)="onChange($event)" />
<ul>
    <li *ngFor="let f of files">{{ f.name }}</li>
</ul>
<div class="warning" *ngIf="isLarger">File grater than 25 MB is not allowed</div>
<div class="warning" *ngIf="isNotImage">Only image files are allowed</div>
<button type="button" [disabled]='isNotImage' (click)="uploadImage()" class="btn btn-large btn-block btn-primary">Upload</button>

<!-- <div *ngIf="isUploaded"> -->
<img *ngIf="isImageAvailable" class="myImg" [src]="imagePath" alt="Image">
<!-- </div> -->