<div class="tab" #tabHolder>
    <div class="tabWrapper" (click)="activate($event, i)" *ngFor="let tab of productList; let i = index">
        <div class="tablinks" [id]="i === 0 ? 'defaultOpen' : '' " (click)="openActiveTab($event, tab)">{{tab.label}} {{ ' - ' }} {{ i }}</div>
        <!-- <div class="tablinks" [id]="tab.id" (click)="openActiveTab($event, tab)">{{tab.label}} {{ ' - ' }} {{ i }}</div> -->
    </div>
</div>
<div *ngFor="let tab1 of productList" [id]="tab1.id" class="tabcontent">
    {{tab1 | json}}
</div>