<!-- <form [formGroup]="fn.infinityRSVPForm" *ngFor="let fn of formNameList; let i = index">
    <div [formGroupName]="fn.infinityRSVPForm.controls.infinityRSVPData">
        <div class="form-group">
          <label class="control-label" for="receivername">Name:</label>
          <input type="text" class="form-control" [formControlName]="fn.formGroupName.shippingOption" placeholder="Please enter name">
        </div>
      </div>
</form> -->

<!-- <div *ngFor="let fn of formNameList; let i = index">
{{ fn.infinityRSVPForm | json}}
<form [formGroup]="fn.infinityRSVPForm"></form>
</div> -->


<form [formGroup]="a[i]" *ngFor="let a of formGroupList; let i = index">
  <input type="email">
</form>