<!-- <div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>{{ inPutdate | timeago }}</div>
            <div> {{ price | currencyformater }}</div>
        </div>

    </div>
</div>
<div class="container">

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
            <app-file-upload></app-file-upload>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
    </div>

</div> -->

<!-- <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete> -->

<!-- <br />
<br />
<div class="container">

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
            <app-custom-auto-complete></app-custom-auto-complete>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
    </div>

</div>
<div class="container">
    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="radio-form" *ngFor="let i of years">
                    <label>
                      <input type="radio" name="optradio" value="i">{{ '   ' }}{{ i }} {{ ' years' }}
                    </label>
                </div>
            </div>
        </div>
    </form>
</div> -->

<!-- <div class="container">

    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <select name="" id="input${1/(\w+)/\u\1/g}" (change)="onProductChange($event)" class="form-control" required="required">
          <option value="sp">Select Product</option>
          <option [value]="product" *ngFor="let product of listOfProducts">{{ product }}</option>
        </select>

            <button type="button" class="btn btn-default" (click)="addProduct()">Add Product</button>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <app-navigation-bar></app-navigation-bar> -->
<!-- <div><button type="button" class="btn btn-default" (click)="addProduct()">Add More Product</button></div> -->
<!-- <br />
            <br />
            <br />
            <app-tabs></app-tabs>
        </div>


    </div>

</div>

<button type="button" (click)="showOriginalTabList()" class="btn btn-primary">Show Original TabList</button>


<app-my-date-picker-example></app-my-date-picker-example>

<div [ngClass]="{'col-xs-2 radio-style-checked': currentSelection === 0, 'col-xs-2 radio-style': currentSelection != 0 }">
    <input type="radio" (click)="onSelect(0)" name=years value="years" id="timeAtAddressYears" /> 0 Years
</div>
<div [ngClass]="{'col-xs-2 radio-style-checked': currentSelection === 1, 'col-xs-2 radio-style': currentSelection != 1 }">
    <input type="radio" (click)="onSelect(1)" name=years value="years" id="timeAtAddressYears" /> 1 Years
</div> -->


<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <app-rolling-tabs></app-rolling-tabs> -->
            <!-- <app-scrolling-tabs></app-scrolling-tabs> -->
            <div style="width: 500px;">

                    <app-custom-dropdown-example></app-custom-dropdown-example>

                    <br>
    
                <select name="mm" [(ngModel)]="mm" id="input" class="form-control" required="required">
                    <option *ngFor="let d of dd" [ngValue]="d">{{d}}</option>
                </select>
                
            </div>
        </div>

    </div>
    <hr>
    
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <app-rolling-tabs-new></app-rolling-tabs-new>
            <app-my-date-picker-example></app-my-date-picker-example> -->
        </div>
        
    </div>
    

</div>

<!-- <app-dynamic-forms></app-dynamic-forms> -->

<div class="container">

        <div class="row">
    
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!-- <app-dynamic-form-test [questions]="questions"></app-dynamic-form-test>
                    <hr>
                    <app-dynamic-form-test [questions]="questions"></app-dynamic-form-test> -->
                    <!-- <app-dynamic-form-test-1></app-dynamic-form-test-1> -->
            </div>
    
        </div>
        </div>




<br>

<app-nested-form-example></app-nested-form-example>

<br>


<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-custom-switch-example></app-custom-switch-example>
    </div>
    
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-custom-radio-example-1></app-custom-radio-example-1>
    </div>

</div>

