<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>{{ inPutdate | timeago }}</div>
            <div> {{ price | currencyformater }}</div>
        </div>

    </div>
</div>
<div class="container">

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
            <app-file-upload></app-file-upload>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
    </div>

</div>

<!-- <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete> -->

<br />
<br />
<div class="container">

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4">
            <app-custom-auto-complete></app-custom-auto-complete>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
    </div>

</div>